<a href="#" class="button button--with-loader {{modifier_class}}">
    <span class="button__label">Link Button</span>
</a>
<a href="#" class="button button--with-loader _loading {{modifier_class}}">
    <span class="button__label">Link Button</span>
</a>
<br/>
<br/>
<a href="#" class="button button--action button--with-loader {{modifier_class}}">
    <span class="button__label">Link Button</span>
</a>
<a href="#" class="button button--action button--with-loader _loading {{modifier_class}}">
    <span class="button__label">Link Button</span>
</a>
<br/>
<br/>
<button class="button button--with-loader {{modifier_class}}">
    <span class="button__label">Button Element</span>
</button>
<button class="button button--with-loader _loading {{modifier_class}}">
    <span class="button__label">Button Element</span>
</button>
